{% extends 'base.html.twig' %}

{% block title %}New Collection{% endblock %}

{% block body %}
    <h1>Create new Collection</h1>
	<div class="btn-group">
		
	    {{ include('collection/_form.html.twig') }}

	    <a href="{{ path('collection_index') }}">Back</a>

	</div>

{% endblock %}