{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}

    <h1>The Recipe Website</h1>

	<div class="container">
		<p>This website allows users to share recipes and comment on each others recipes
		</p>
		
		<h3>Users</h3>
		<p>
			To fully use the system, you must register and/or login.<br/>
			All that is required is a User name and an Email address(which will be used only for confirmation and password reminders)<br/>
		</p>

		<h3>Visitors</h3>
		<p>
			However, you may visit the site freely and view any Recipes which users have made public.
		</p>
		<h3>Recipes</h3>
		<p>
			Recipes are simply a series of steps, and a collection of ingredients.<br/>
			Users and visitors can search for Recipes here.<br/>
			Users can post comments on Recipes.<br>
		</p>



	</div>

{% endblock %}