<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		
		<a href="/" class="navbar-brand">Recipes</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
 			<span class="navbar-toggle-icon"></span>
		</button>

 		<ul class="navbar-nav ml-auto">
			
			<li class="nav-item">
				<a href="/" class="nav-link">Home</a>
			</li>
			
			{# efc add login #}
			{% if is_granted('ROLE_USER') %}

				<li class="nav-item">
					<a 
						href="{{ path('fos_user_security_logout') }}" 
						class="nav-link">
						Logout
					</a>
				</li>

			{% else %}

				<li class="nav-item">
					<a 
						href="{{ path('fos_user_security_login') }}" 
						class="nav-link">
						Login
					</a>
				</li>

			{% endif %}

		</ul>
		<div class="collapse navbar-collapse" id="mobile-nav"></div>
	</div>

</nav>

